<section class = "cover">
  <div class= "cvr-head">
    <div class="photo">
      <img src="https://via.placeholder.com/350" alt="">
    </div>
    <%# <h1>Angel E. Cordova</h1><span class="blink">_</span> %>
  </div>
  <p> <%#<img src="https://via.placeholder.com/150" alt=""> %>
    I am  Full Stack developer. After 13 years in ITSM, performing Service Operation roles such as Incident, Problem, Request, App maintenance and Project Management, decided to retake on my passion for developing effective and high quality solutions to people's problems using a keyboard and Ruby on Rails.  </p>
</section>
<section class = "project-section">
  <h2>[Projects]</h2>
  <div class="projects">
    <div class="project">
      <img src="https://via.placeholder.com/300" alt="" class="project-img">
      <div class="project-info">
        <h3>Title Lorem Ipsum</h3>
        <p>Aut possimus quas quis et sapiente et. Sit qui rerum illum sunt est ex. Nemo ut iure nihil laudantium neque. Officia illo excepturi quia in sequi. Nihil nesciunt alias excepturi provident velit a. Labore alias cupiditate ut velit unde expedita eum aut. Sequi expedita fugiat totam est. Quia magni possimus similique.Et dignissimos esse aut molestiae. Itaque eum non soluta voluptatem ratione voluptas corporis. Iste odit eaque perspiciatis.</p>
        <ul>
          <li>[skill]</li>
          <li>[skill]</li>
          <li>[skill]</li>
        </ul>
        <div class="buttons">
          <button>Live</button>
          <button>GitHub</button>
        </div>
      </div>
    </div>
    <div class="project">
      <img src="https://via.placeholder.com/300" alt="" class="project-img">
      <div class="project-info">
        <h3>Title</h3>
        <p>Description Lorem</p>
        <ul>
          <li>[skill]</li>
          <li>[skill]</li>
          <li>[skill]</li>
        </ul>
        <div class="buttons">
          <button>Live</button>
          <button>GitHub</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class= "contact-section">
  <h2>[Contact]</h2>
  <p> Do you have a cool project? Let's talk!</p>
  <ul>
    <a href="#"><li>[whatsapp]</li></a>
    <a href="#"><li>[twitter]</li></a>
    <a href="#"><li>[github]</li></a>
    <a href="#"><li>[linkedin]</li></a>
    <a href="#"><li>[email]</li></a>
  </ul>
</section>
