<section class = "cover">
  <div class= "cvr-head">
    <div class="photo">
      <%= image_tag  "profile_pic.jpg" %>
    </div>
  </div>
  <p> <%#<img src="https://via.placeholder.com/150" alt=""> %>
    Husband, Father of three awesome kids, Texas Hold'em enthusiast and <b>Full Stack Developer</b><br>
    After more than 13 years performing IT Service Operation roles such as Incident, Problem, Request, Change and Project Management and several management positions in Support Oriented organizations, I decided to retake on my passion for developing effective and high quality solutions to people's problems using a keyboard, a text editor and <b>Ruby on Rails. </b> </p>
</section>
<section class = "project-section">
  <h2 id="projects">[Projects]</h2>
  <div class="projects">
    <div class="project">
      <img src="https://via.placeholder.com/300" alt="" class="project-img">
      <div class="project-info">
        <h3>SayIt!</h3>
        <h4>A micropost twitter-like platform</h4>
        
        <p>The purpose of this project is to practice Rails acquired knowledge by building an app called SayIt Where a user can Sign in, share, read, like or comment Posts and follow users to see their posts in this timeline.</p>
        <ul>
          <li>[HTML5/CSS3/SASS]</li>
          <li>[RUBY ON RAILS]</li>
          <li>[POSTGRESS]</li>
          <li>[AWS S3]</li>
          <li>[JQUERY]</li>
          <li>[RSPEC]</li>
          <li>[CAPYBARA]</li>
        </ul>
        <div class="buttons">
          <a>Live</a>
          <a href = "https://github.com/aecordova/capstone-rails-twitter" target="_blank">GitHub</a>
        </div>
      </div>
    </div>
    <div class="project">
            <img src="https://via.placeholder.com/300" alt="" class="project-img">
      <div class="project-info">
        <h3>Private Events</h3>
        <h4>An Event organization platform</h4>
        
        <p>This is an app similar to EventBrite (at a very basic level) Where a user can organize events and record all the related information about it, also, signed in users can see other events and register to them</p>
        <ul>
          <li>[HTML5/CSS3/SASS]</li>
          <li>[RUBY ON RAILS]</li>
          <li>[BOOTSTRAP4]</li>
          <li>[RSPEC]</li>
          <li>[CAPYBARA]</li>
        </ul>
        <div class="buttons">
          <a>Live</a>
          <a href = "https://github.com/aecordova/rails-private-events" target="_blank">GitHub</a>
        </div>
      </div>
    </div>
    <div class="project">
            <img src="https://via.placeholder.com/300" alt="" class="project-img">
      <div class="project-info">
        <h3>Tic Tac Toe</h3>
        <h4>The classical game for the command line interface</h4>
        
        <p>The purpose of this project is to demonstrate knowledge in Ruby and testing with RSpec, despite being made for the command line, this project has a visual interface that renders the board as you pick your move! </p>
        <ul>
          <li>[RUBY 2.7]</li>
          <li>[RSPEC]</li>
        </ul>
        <div class="buttons">
          <a>Live</a>
          <a href = "https://github.com/aecordova/proj-11-ruby-tictactoe" target="_blank">GitHub</a>
        </div>
      </div>
    </div>
    <div class="project">
            <img src="https://via.placeholder.com/300" alt="" class="project-img">
      <div class="project-info">
        <h3>NewsWeek Clone</h3>
        <h4>Responsive application layout built with Bootstrap</h4>
        
        <p>The purpose of this project was to build a webpage from scratch replicating Newsweeks' and replicating its responsive behaviour using bootstrap. The projects requirement and an extended description can be found at The Odin Project</p>
        <ul>
          <li>[HTML5/CSS3]</li>
          <li>[BOOTSTRAP4]</li>
        </ul>
        <div class="buttons">
          <a href="https://rawcdn.githack.com/aecordova/proj7-newsweek-clone/0cf549a439636a31d29b846d69f0154020504639/index.html" target="_blank">Live</a>
          <a href = "https://github.com/aecordova/proj7-newsweek-clone" target="_blank">GitHub</a>
        </div>
      </div>
    </div>

  </div>
</section>
<section class= "contact-section">
  <h2 id="contact">[Contact]</h2>
  <p> Do you have a cool project? Let's talk!</p>
  <ul>
    <a href="https://wa.me/528121019972?text= Hey!%20I%20saw%20your%20portfolio%20and%20I%20want%20to%20have%20sa%20word%20with%20you!">
      <li>
      <i class="fa fa-whatsapp"></i>
      [whatsapp]</li>
    </a>
    <a href="https://twitter.com/ae_cordova">
      <li>
      <i class="fa fa-twitter"></i>
      [twitter]</li>
    </a>
    <a href="https://github.com/aecordova">
    <li>
    <i class="fa fa-github"></i>
    [github]</li>
    </a>
    <a href="https://www.linkedin.com/in/ae-cordova/">
    <li>
    <i class="fa fa-linkedin"></i>
    [linkedin]</li>
    </a>
    <a href="mailto:ae_cordova@outlook.com">
    <li>
    <i class="fa fa-envelope-o"></i>
    [email]</li>
    </a>
  </ul>
</section>
