<section class = "Cover">
  <h1>Angel Cordova</h1>
  <p>I am  Full Stack developer. After 13 years in ITSM, performing Service Operation roles such as Incident, Problem, Request, App maintenance and Project Management, decided to retake on my passion for developing effective and high quality solutions to people's problems using a keyboard and Ruby on Rails.  </p>
</section>
<section class = "Projects">
  <h2>Projects</h2>
  <div>
    <div class = "Proj_left">
      <div>Photo</div>
      <div>
        <h3>Title</h3>
        <p>Description Lorem</p>
        <ul>
          <li>skill</li>
          <li>skill</li>
          <li>skill</li>
        </ul>
        <div>
          <button>Live</button>
          <button>GitHub</button>
        </div>
      </div>
    </div>
    <div class = "Proj_right">
      <div>
        <h3>Title</h3>
        <p>Description Lorem</p>
        <ul>
          <li>skill</li>
          <li>skill</li>
          <li>skill</li>
        </ul>
        <div>
          <button>Live</button>
          <button>GitHub</button>
        </div>
      </div>
      <div>Photo</div>
    </div>
  </div>
</section>
<section class= "contact">
  <ul>
    Get in Touch!
    <li>whatsapp</li>
    <li>email</li>
    <li>twitter</li>
    <li>github</li>
    <li>LinkedIn</li>
  </ul>
</section>
