
$txt-normal: #080708;
$txt-title:#3d2645;
// $txt-subtitle:
$txt-link: #3d2645;
// $txt-vislink:
$backgnd: #e2efde;
$sec: #342e37;

h1 {
  font-size: 3rem;
  color: $txt-title;
}

h2 {
  text-align: center;
  color: $txt-title;
  font-size: 2.3rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: $txt-link;

  :hover {
    font-weight: 600;
  }
}

li {
  list-style-type: none;
  font-size: larger;
}

body {
  font-family: 'Roboto Mono', monospace;
  
  background-color: $backgnd;
  color: $txt-normal;
  margin: 0;
  
  display: grid;
  grid-template-columns: [pad-lft]10% [main]auto [pad-rgt]10%;
  grid-template-rows: [hdr]50px [main]auto [proj]auto [footer]50px;


  header {
    grid-column-start: main;
    nav {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; 
      position: fixed;
      left: 10%;
      right: 10%;
      height: 70px;
      background: $backgnd;
      .brand-name{
        grid-column: 1;
        align-self: center;
        justify-self: center;
        font-weight: bold;
        font-size: 2rem;
        white-space: nowrap;
      }
      ul {
        grid-column: 3;
        align-self: center;
        justify-self: center;
        padding: 0;
        display: flex;

        a {
          padding-right: 5em;
          li {
            // color: #FFC58F; 
            // color: #FF9DA4;
            white-space: nowrap;
          }
        }
        :last-child {
          padding-right: 0;
        }
      }
    }
  }

  main {
    grid-column-start: main;
    .cover {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 24px;
      border-radius: 20px;
      background-color: $sec;
      color: $backgnd;
      padding: 3%;

      // height: 380px;
      .cvr-head {
        grid-column: 1;
        align-self: center;
        font-family: 'Roboto Mono', monospace;
        // font-family: 'Source Code Pro', monospace;
        .photo{
          grid-column: 1;
          text-align: center;
          img{
            border: 3px solid $txt-normal;
            border-radius: 100%;
            width: 320px;
            height: 320px;
          }
        }
      }

      p {
        grid-column: 2 / -1;
        text-align: justify;
        align-self: center;
        margin: 0;
        padding-left: 15px;
        line-height: 2rem;
        font-size: larger;
      }
    }

    .project-section {
      display: grid;
      grid-template-columns: 5% auto 5%;

      h2 {
        grid-column: 1 /-1;
      }

      .projects {
        grid-column: 2;
        
        .project {
          border-bottom: 1px solid gainsboro;
          padding: 5px;
          display: flex;
          max-height: 320px;
          padding-bottom: 10px;
          margin-bottom: 10px;

          .project-info {
            padding: 0 10px;
            width: 100%;

            h3 {
              margin: .5rem 0;
            }
            h4 {
              margin: 0;
              font-size: 1.2rem;
            }
            p {
              text-align: justify;
              height: 110px;
              max-height: 110px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            ul {
              display: flex;
              padding: 0 5px;
              justify-content: center;
              li {
                padding: 0 5px;
                list-style-type: none;
                font-size: smaller;
                white-space: nowrap;
              }
            }
            .buttons {
              text-align: right;
              a {
                background-color: transparent;
                border: 1px solid $txt-link;
                border-radius: 25px;
                padding: 3px 10px;
                font-size:small;
              }
              :hover {
                background-color: $txt-link;
                color: whitesmoke;
                border-width: 1.3px;
                font-weight: bolder;
                transition-duration: .2s;
                transition-timing-function: ease-in;
              }
            }
          }
          .project-img {
            padding-right: 5px;
            border-radius: 20px;
            height: 300px;
            width: 300px;
          }
        }
      }
    }

    .contact-section {
      display: grid;
      grid-template-columns: 5% auto 5%;

      h2 {
        grid-column: 1 /-1;
      }
      p{
        grid-column: 2;
        text-align: center;
        font-size: larger;
      }
      ul {
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 0;
        a {
          padding-right: 2rem;
        }
      }

    }
  }
  footer {
    margin-top: 50px;
    grid-column: main;
    grid-row-start: 6;
    display: grid;
    grid-template-columns: 5% auto 5%;
    p{
      grid-column: 2;
      text-align: center;
    }
  }
}