
$txt-normal: #080708;
$txt-title:#3d2645;
$txt-link: #3d2645;
$backgnd: #e2efde;
$sec: #342e37;
// $txt-subtitle:
// $txt-vislink:

// General Styling
h1 {
  font-size: 3em;;
  color: $txt-title;
}

h2 {
  text-align: center;
  color: $txt-title;
  font-size: 3em;;

}

h3 {
  font-size: 2em;;
  margin: 0;
}

h4 {
  font-size: 1.2em;;
}

body {
  min-width: 450px;
  display: grid;
  grid-template-columns: [pad-lft]3% [main]auto [pad-rgt]3%;
  font-family: 'Inconsolata', monospace;
  background-color: $backgnd;
  color: $txt-normal;
  margin: 0;
}

header {
  grid-column: 1/-1;
}

main {
  grid-column: main;
}

footer {
  margin-top: 50px;
  grid-column: main;
  grid-row-start: 6;
  display: grid;
  grid-template-columns: 5% auto 5%;
  p {
    grid-column: 2;
    text-align: center;
    font-size: small;
  }
}

p {
  // font-family: 'Inconsolata', monospace;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;;
  text-align: justify;
  align-self: center;
  margin: 0;
  line-height: 2em;;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: $txt-link;

  :hover {
    font-weight: 600;
  }
}

li {
  list-style-type: none;
  white-space: nowrap;
}

//Section/Item Specific Styling

.top-nav {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  position: fixed;
  width: 100%;
  height: 90px;
  background: $backgnd;
}

.top-nav-brand-name {
  display: none;
  grid-column: 2;
  align-self: center;
  justify-self: center;
  font-weight: bold;
  font-size: 2em;;
  white-space: nowrap;
}

.top-nav-menu {
  grid-column: 2/5;
  align-self: center;
  justify-self: center;
  padding: 0;
  display: flex;

  :last-child {
    padding-right: 0;
  }
}

.top-nav-item {
  padding-right: 2em;;
  font-size: 2em;;
}

.cover-section {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  margin-top: 95px;
  border-radius: 20px;
  background-color: $sec;
  color: $backgnd;
  padding: 5%;
}

.cover-photo-container {
  grid-column: 1;
  align-self: center;
  font-family: 'Roboto Mono', monospace;
  // font-family: 'Source Code Pro', monospace;
}

.cover-photo-name {
  text-align: center;
  padding-bottom: 2em;;

  h1 {
    color: $backgnd;
    font-weight: bold;
    text-align: center;
  }
}

.cover-photo {
  grid-column: 1;
  text-align: center;
  margin-bottom: 2em;;

  img {
    border: 3px solid $txt-normal;
    border-radius: 100%;
    width: 320px;
    height: 320px;
  }
}

.project {
  text-align: center;
  padding-bottom: 10px;
  margin-top: 30px;
  border-bottom: 1px solid $txt-normal;
}

.project-img {
  padding-right: 5px;
  border-radius: 20px;
  width: 60%;
}

.project-info {
  padding: 5%;
}

.project-subtitle {
  font-size: 1.2em;;
}

.project-description {
  text-align: justify;
  align-self: justify;
  margin: 0;
  line-height: 2em;;
  font-weight: 300;
}

.project-skills {
  margin-top: 1.5em;;
  padding: 0;
}

.skill-item {
  text-align: left;
  padding: 0 5px;
  white-space: nowrap;
}

.project-buttons {
  margin-top: 1.5em;;
  text-align: right;

  a {
    background-color: transparent;
    border: 1px solid $txt-link;
    border-radius: 25px;
    padding: 5px 15px;
    font-size: small;
    -webkit-box-shadow: 6px 9px 20px -1px rgba(61, 38, 69, 1);
    -moz-box-shadow: 6px 9px 20px -1px rgba(61, 38, 69, 1);
    box-shadow: 6px 9px 20px -1px rgba(61, 38, 69, 1);
  }

  :hover {
    background-color: $txt-link;
    color: whitesmoke;
    border-width: 1.3px;
    font-weight: bolder;
    transition-duration: .2s;
    transition-timing-function: ease-in;
  }
}

.call-to-act {
  text-align: center;
  font-size: larger;
}

.contact-list {
  justify-content: center;
  align-self: center;
  margin-top: 0;
  text-align: center;
}

.contact-link {
  line-height: 2.5em;;
  li {
    margin-top: 2em;;
  }
}


// $break-small: 481px;
// $break-medium: 768px;
// $break-large: 1200px;



// body {
//   font-family: 'Roboto Mono', monospace;

//   background-color: $backgnd;
//   color: $txt-normal;
//   margin: 0;

//   display: grid;
//   grid-template-columns: [pad-lft]10% [main]auto [pad-rgt]10%;
//   grid-template-rows: [hdr]50px [main]auto [proj]auto [footer]50px;


//   header {
//     grid-column: 1/-1;
//     nav {
//       display: grid;
//       grid-template-columns: 10% 1fr 1fr 1fr 10%; 
//       position: fixed;
//       width:100%;
//       height: 70px;
//       background: $backgnd;
//       .brand-name{
//         grid-column: 2;
//         align-self: center;
//         justify-self: center;
//         font-weight: bold;
//         font-size: 2em;;
//         white-space: nowrap;
//       }
//       ul {
//         grid-column: 4;
//         align-self: center;
//         justify-self: center;
//         padding: 0;
//         display: flex;

//         a {
//           padding-right: 2em;;
//         }
//         :last-child {
//           padding-right: 0;
//         }
//       }
//     }
//   }
//   main {
//     grid-column: main;

//     .cover {
//       display: grid;
//       grid-template-columns: 1fr 1fr 1fr;
//       margin-top: 45px;
//       border-radius: 20px;
//       background-color: $sec;
//       color: $backgnd;
//       padding: 3%;
//       .cvr-head {
//         grid-column: 1;
//         align-self: center;
//         font-family: 'Roboto Mono', monospace;
//         // font-family: 'Source Code Pro', monospace;
//         .photo{
//           grid-column: 1;
//           text-align: center;
//           img{
//             border: 3px solid $txt-normal;
//             border-radius: 100%;
//             width: 320px;
//             height: 320px;
//           }
//         }
//       }
//       p {
//         grid-column: 2 / -1;
//         text-align: justify;
//         align-self: center;
//         margin: 0;
//         padding-left: 15px;
//         line-height: 2em;;
//         font-size: larger;
//       }
//     }

//     .project-section {
//       .projects {
//         .project {
//           border-bottom: 1px solid gainsboro;
//           padding: 5px;
//           display: flex;
//           max-height: 320px;
//           padding-bottom: 10px;
//           margin-bottom: 10px;
//           .project-img {
//             padding-right: 5px;
//             border-radius: 20px;
//             height: 300px;
//             width: 300px;
//           }
//           .project-info {
//             padding: 0 10px;
//             width: 100%;

//             h3 {
//               margin: .5em; 0;
//             }
//             h4 {
//               margin: 0;
//               font-size: 1.2em;;
//             }
//             p {
//               text-align: justify;
//               height: 110px;
//               max-height: 110px;
//               overflow: hidden;
//               text-overflow: ellipsis;
//             }
//             ul {
//               display: flex;
//               padding: 0 5px;
//               justify-content: center;
//               li {
//                 padding: 0 5px;
//                 list-style-type: none;
//                 font-size: smaller;
//                 white-space: nowrap;
//               }
//             }
//             .buttons {
//               text-align: right;
//               a {
//                 background-color: transparent;
//                 border: 1px solid $txt-link;
//                 border-radius: 25px;
//                 padding: 3px 10px;
//                 font-size:small;
//               }
//               :hover {
//                 background-color: $txt-link;
//                 color: whitesmoke;
//                 border-width: 1.3px;
//                 font-weight: bolder;
//                 transition-duration: .2s;
//                 transition-timing-function: ease-in;
//               }
//             }
//           }
//         }
//       }
//     }

//     .contact-section {
//       p{
//         text-align: center;
//         font-size: larger;
//       }
//       ul {
//         display: flex;
//         justify-content: center;
//         align-self: center;
//         margin-top: 0;
//         a {
//           padding-right: 2em;;
//         }
//       }

//     }
//   }
//   footer {
//     margin-top: 50px;
//     grid-column: main;
//     grid-row-start: 6;
//     display: grid;
//     grid-template-columns: 5% auto 5%;
//     p{
//       grid-column: 2;
//       text-align: center;
//     }
//   }
// }