$txt-normal: #080708;
$txt-title:#3d2645;
$txt-link: #3d2645;
$backgnd: #e2efde;
$sec: #342e37;
// $txt-subtitle:
// $txt-vislink:

// General Styling
h1 {
  color: $txt-title;
  font-size: 10vw;
  margin: 3vw 0;
}

h2 {
  text-align: center;
  color: $txt-title;
  font-size: 10vw;

}

h3 {
  font-size: 2em;
  ;
  margin: 0;
}

h4 {
  font-size: 1.2em;
  ;
}

body {
  min-width: 450px;
  justify-self: center;
  display: grid;
  grid-template-columns: [pad-lft]3% [main]auto [pad-rgt]3%;
  font-family: 'Inconsolata', monospace;
  background-color: $backgnd;
  color: $txt-normal;
  margin: 0;
}

header {
  grid-column: 1/-1;
}

main {
  grid-column: main;
}

footer {
  margin-top: 50px;
  grid-column: main;
  grid-row-start: 6;
  display: grid;
  grid-template-columns: 5% auto 5%;

  p {
    grid-column: 2;
    text-align: center;
    font-size: small;
  }
}

p {
  // font-family: 'Inconsolata', monospace;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  ;
  text-align: justify;
  align-self: center;
  margin: 0;
  line-height: 1.5em;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: $txt-link;

  :hover {
    font-weight: 600;
  }
}

li {
  list-style-type: none;
  white-space: nowrap;
}

//Section/Item Specific Styling

.top-nav {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  position: fixed;
  width: 100%;
  height: 70px;
  background: $backgnd;
}

.top-nav-brand-name {
  display: none;
  grid-column: 2;
  align-self: center;
  justify-self: center;
  font-weight: bold;
  font-size: 2em;
  white-space: nowrap;
}

.top-nav-menu {
  grid-column: 2/5;
  align-self: center;
  justify-self: center;
  padding: 0;
  display: flex;

  :last-child {
    padding-right: 0;
  }
}

.top-nav-item {
  padding-right: 2em;
  font-size: larger;

}

.cover-section {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  margin-top: 75px;
  border-radius: 20px;
  background-color: $sec;
  color: $backgnd;
  padding: 5%;
}

.cover-photo-container {
  grid-column: 1;
  align-self: center;
  font-family: 'Roboto Mono', monospace;
  // font-family: 'Source Code Pro', monospace;
}

.cover-photo-name {
  text-align: center;
  padding-bottom: 2em;

  h1 {
    color: $backgnd;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }
}

.cover-photo {
  grid-column: 1;
  text-align: center;
  margin-bottom: 2em;

  img {
    border: 3px solid $txt-normal;
    border-radius: 100%;
    width: 320px;
    height: 320px;
  }
}

.project {
  display: grid;
  text-align: center;
  padding-bottom: 10px;
  padding: 10px;
  margin-top: 30px;
  border-bottom: 1px solid $txt-normal;
}

.project-img {
  justify-self: center;
  padding-right: 5px;
  border-radius: 50px;
  width: 60%;
}

.project-info {
  padding: 5%;
}

.project-subtitle {
  font-size: 1.2em;
  ;
}

.project-description {
  text-align: justify;
  align-self: justify;
  margin: 0;
  line-height: 1.5em;
  font-weight: 300;
}

.project-skills {
  margin-top: 1.2em;
  padding: 0;
  font-size: larger;
  font-weight: bold;
  line-height: 1.2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.skill-item {
  text-align: center;
  padding: 0 5px;
  white-space: nowrap;
}

.project-buttons {
  text-align: right;
  padding: 1em;

  a {
    background-color: transparent;
    border: 1.5px solid $txt-link;
    border-radius: 25px;
    padding: 5px 15px;
    font-size: small;
  }

  :hover {
    background-color: $txt-link;
    color: whitesmoke;
    border-width: 1.3px;
    font-weight: bolder;
    transition-duration: .2s;
    transition-timing-function: ease-in;
  }
}

.call-to-act {
  text-align: center;
  font-size: larger;
}

.contact-list {
  padding: 0;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-link {
  line-height: 1.5em;

  li {
    margin-top: 1em;
  }
}

.lg-only {
  display: none;
}

@media screen and (min-width: 768px) {

  h1,
  h2 {
    font-size: 6vw;
  }

  .top-nav-brand-name {
    display: block;
  }

  .top-nav-menu {
    grid-column: 3 / 5;
    justify-self: end;
  }

  .top-nav-item {
    padding-right: 1.2em;
  }

  .cover-photo-name {
    display: none;
  }

  .project {
    grid-template-columns: repeat(10, 1fr);
  }

  .project-img-container {
    grid-column: 1 / 5;
  }

  .project-img {
    width: 100%;
    height: 100%;
  }

  .project-info {
    grid-column: 5 / -1;
  }

  .project-description {
    line-height: normal;
  }

  .project-skills,
  .project-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .project-skills {
    grid-column: 2/-2;
    justify-content: space-evenly;
  }

  .project-buttons {
    grid-column: 8/-1;
    justify-content: flex-end;

    a {
      margin-left: 5px;
    }
  }

  .lg-only {
    display: none;
  }
}

@media screen and (min-width: 1024px) {

  h1,
  h2 {
    font-size: 3em;
  }

  .cover-section {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 3%;
  }

  .cover-photo-container {
    grid-column: 1 / 5;

  }

  .cover-description {
    grid-column: 5/-1;
  }

  .project-skills {
    grid-column: 5 / -1;
    grid-row: 2;
  }

  .mob-only {
    display: none;
  }

  .lg-only {
    display: flex;
    margin: .5em;
  }

  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .top-nav {
    grid-template-columns: auto repeat(3, #{1200/3}) auto;
  }

  .top-nav-menu {
    grid-column: 4;
    justify-self: center;

  }

  body,
    {
    grid-template-columns: [pad-lft]auto [main]1200px [pad-rgt]auto;
  }

}
