<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <header>
    <%= render 'layouts/header' %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>Made with love by Angel Cordova - 2020 </footer>
  </body>
</html>
