<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <header>
    <%= render 'layouts/header' %>
    </header>
    <main>
      <%= yield %>
    </main>
  <footer><p><small>Made with love by</small> [<b>Angel Cordova</b> - 2020]</p> </footer>
  </body>
</html>
